
body {
    font-family: $font-family-avenir;
}

.text-center {
    text-align: center;
}

.margin-lr-auto {
    margin-left: auto;
    margin-right: auto;
}



.grid-hero {
    padding-top: 4.5rem;
    color: #fff;
}

.main-nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(#fff, .14);
    .container{
        max-width: 94vw;
    }
}

.become-biller{
    a{
        margin-top: 16px;
        padding: 5px 20px;
        border: 1px solid;
        display: inline-block;
    }
}

.container {
    max-width: 90vw;
    margin: 0 auto;
}

.hero {
    background: url(../img/hero-bg.svg) center top no-repeat;
    background-size: cover;
    h1 {
        font-size: 1.8rem;
        font-weight: $black-font-weight;
        margin-bottom: .8rem;
    }
    p {
        font-size: .9rem;
        margin-bottom: 3rem;
    }
}

.download-ebill {
    background-image: url(../img/download-ebill-bg.svg);
}

.hero-img {
    padding-top: 3rem;
}

.ebill-img {
    max-width: 200px;
    margin-bottom: 2rem;
}

.faq {
    padding: 5rem 0;
    .grid {
        color: #a1aeb7;
    }
    h4,
    h6 {
        background-image: linear-gradient(96deg, #0059ff, #08b1fa);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h4 {
        font-size: 2.26rem;
        margin-bottom: 3rem;
    }
    h6 {
        margin-bottom: 1rem;
    }
    h6,
    p {
        font-size: .864rem;
    }
    p {
        line-height: 1.29rem;
        font-weight: $light-font-weight;
    }
}

.download-from {
    a {
        display: inline-block;
    }
    img {
        width: 140px;
    }
}

.steps {
    padding: 5rem 0;
    b {
        font-size: 3rem;
        font-weight: $black-font-weight;
        background-image: linear-gradient(139deg, #0059ff, #08b1fa);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    img {
        max-width: 260px;
    }
    h4 {
        font-weight: $heavy-font-weight;
        font-size: 1.76rem;
        margin-bottom: .5rem;
    }
    p {
        font-size: .96rem;
        color: rgba(#393939, .5);
    }
}

.footer {
    background-image: linear-gradient(96deg, #0059ff, #08b1fa);
    .download-from {
        padding-bottom: 0;
        img {
            width: 105px;
        }
    }
    .seperator{
        height: 1px;
        background-color: #c2d1d9;
    }
    
}

.ebill-logo-footer {
    max-width: 51px;
    margin: 1rem 0; 
}



.copyright{
    li{
        display: inline-block;
        img{
            max-width: 9px;
            max-height: 9px;
        }
        .twitter{
            max-width: 14px;
            max-height: 14px;
        }
        + li{
            margin-left: 12px;
        }
    }
    p{
        color: #fff;
        font-size: .56rem;
    }
}

.biller-form{
    background-color: #fff;
    padding: 20px;
    margin: 30px 0 40px;
    border-radius: 3px;
    label{
        color: #000;
    }
    &:before{
        clear: both;
  content: "";
  display: table;
  
  height: 0;
    }
}


//media queries
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .hero h1 {
        font-size: 2.52rem;
    }
    .download-ebill {
        .grid-hero {
            padding-bottom: 2rem;
        }
    }
    .steps {
        b {
            font-size: 4rem;
        }
    }
}

@media (min-width:$nav-breakpoint) {
    .grid {
        display: grid;
        grid-column-gap: 1em;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        .img-div {
            text-align: right;
        }
        .form-div{
            text-align: left;
        }
    }
    .img-div {
        order: 1;
    }
    .faq {
        .grid {
            align-items: start;
            grid-row-gap: 1em;
        }
    }
    .steps {
        padding-top: 8rem;
        .grid>div {
            &:nth-child(1) {
                order: 1;
                text-align: right;
            }
            &:nth-child(2) {
                order: 0;
            }
            &:nth-child(3) {
                order: 2;
            }
            &:nth-child(4) {
                order: 3;
                margin-left: auto;
            }
            &:nth-child(5) {
                order: 5;
                text-align: right;
            }
            &:nth-child(6) {
                order: 4;
            }
        }
        h4,
        p {
            max-width: 300px;
        }
    }
    .footer{
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .download-from{
            padding-top: 2rem;
        }
    }
    .copyright{
        height: 24px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .container2 {
        max-width: 770px;
    }
    .faq {
        max-width: 840px;
        .grid {
            grid-gap: 2em;
        }
    }
    .hero-img {
        width: 32vw;
        padding-top: 4rem;
    }
    .hero {
        p {
            max-width: 384px;
            margin-bottom: 4.5rem;
        }
    }
    .download-from {
        img {
            width: 11rem;
        }
    }
    .luxbar-item:not(.become-biller) a {
        padding-left:  38px;
        padding-right:  38px;
        
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
    .container2 {
        max-width: 770px;
    }
    .faq {
        max-width: 900px;
        padding: 9rem 0;
        h4 {
            margin-bottom: 6rem;
        }
        .grid {
            grid-column-gap: 100px;
        }
    }
    .steps {
        img {
            max-width: 370px;
        }
    }
    .ebill-img {
        max-width: 285px;
    }
    .download-ebill {
        padding-top: 1.6rem;
    }
    .footer{
        .download-from{
            padding: 2.5rem 0 .6rem;
        }
    }
}

@media (max-width:$nav-breakpoint-max) {
    body {
        text-align: center;
    }
    .hero {
        p {
            max-width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .hero-img,
    .steps img {
        margin: 0 auto;
    }
    .hero-img {
        max-width: 300px;
    }
    .luxbar-menu-light {
        background-image: linear-gradient(96deg, #0059ff, #08b1fa);
    }
    .main-nav {
        .container {
            max-width: initial;
        }
    }
    .download-from {
        padding-bottom: 2rem;
    }
    .steps {
        .grid>div {
            &:nth-child(2),
            &:nth-child(4) {
                margin-bottom: 5rem;
            }
        }
        h4 {
            font-size: 1.5rem;
        }
    }
    .faq {
        h4 {
            font-size: 1.5rem;
        }
        .grid {
            div+div {
                margin-top: 2rem;
            }
        }
    }
    .copyright{
        padding: 10px 0;
    }
    .luxbar-brand .ebill-logo-footer {
        margin-left: 2rem;
    }
    .form-grid-hero{
        padding: 7rem 0 2rem;
    }
}