.text-center{
    text-align: center;
}

.grid-hero {
    padding-top: 4.5rem;
}

.main-nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(#fff, .14);
    
}

.container {
    max-width: 96vw;
    margin: 0 auto;
}
.hero{
    background: url(../img/hero-bg.svg) center top no-repeat;
    background-size: cover;
}


//media queries

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width:$nav-breakpoint) {
    .grid {
        display: grid;
        grid-column-gap: 1em;
        align-items: center;
    }
    .grid-hero {
        grid-template-columns: 1fr 1fr;
        
    }
    .img-div {
        order: 1;
        text-align: center;
    }
    .faq{
        align-items: start;
        grid-row-gap: 1em;
    }
}

@media (max-width:$nav-breakpoint-max) {
    body{
        text-align: center;
    }
    .grid-hero {
        img {
            margin: 0 auto;
        }
    }
    .luxbar-menu-light{
        background-image: linear-gradient(96deg, #0059ff, #08b1fa);

    }
    .main-nav{
        .container{
            max-width: initial;
        }
    }
}