$luxbar-height: 58px;
$luxbar-padding: 22px 38px;
//$luxbar-transition: .3s ease;
$luxbar-transition: none;
$hamburger-line-height: 2px;
$hamburger-width: 26px;
//$luxbar-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$luxbar-shadow: none;


.luxbar-static {
    box-shadow: $luxbar-shadow;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .luxbar-checkbox {
        &:checked ~.luxbar-menu {
            position: absolute;
        }
    }
}

//mobile

%general-hamburger-span {
    display: block;
    height: $hamburger-line-height;
    width: $hamburger-width;
    transition: $luxbar-transition;
}

%hamburger-lines {
    span {
        background-color: transparent;

        &::before,
        &::after {
            margin-top: 0;
        }
    }
}

.luxbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $luxbar-height;
}

.luxbar-menu-left {
    .luxbar-navigation, .luxbar-header {
        justify-content: flex-start;
    }
}

.luxbar-menu-right {
    .luxbar-hamburger {
        margin-left: auto;
    }
}

.luxbar-brand {
    font-size: 1.6em;
    //padding: $luxbar-padding;
   .ebill-logo-footer{
       margin-top: .5rem;
       margin-bottom: 0;
   }
}

.luxbar-menu {
    min-height: $luxbar-height;
    transition: $luxbar-transition;
    width: 100%;
}

.luxbar-navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.luxbar-menu,
.luxbar-item {
    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
}

.luxbar-item {
    height: $luxbar-height;
    font-size: .85rem;
    a {
        padding: $luxbar-padding;
        display: block;
    }
}

.luxbar-hamburger {
    padding: $luxbar-padding;
    position: relative;
    cursor: pointer;

    span {
        @extend %general-hamburger-span;

        &::before,
        &::after {
            @extend %general-hamburger-span;
            content: '';
            position: absolute;
        }

        &::before {
            margin-top: -8px;
        }

        &::after {
            margin-top: 8px;
        }
    }
}

.luxbar-checkbox {
    display: none;

    &:not(:checked) ~.luxbar-menu {
        overflow: hidden;
        height: $luxbar-height;
    }

    &:checked ~.luxbar-menu {
        transition: height $luxbar-transition;
        height: 100vh;
        overflow: auto;

        li {
            .luxbar-hamburger {
                @extend %hamburger-lines;
            }
        }
    }
}

.dropdown {
    position: relative;
    height: auto;
    min-height: $luxbar-height;

    &:hover > ul {
        position: relative;
        display: block;
        min-width: 100%;
    }

    & > a {
        &::after {
            $expand-arrow-height: 5px;

            position: absolute;
            content: '';
            right: 10px;
            top: $luxbar-height / 2 - $expand-arrow-height + 1px;
            border-width: $expand-arrow-height $expand-arrow-height 0;
            border-color: transparent;
            border-style: solid;
        }
    }

    & > ul {
        display: block;
        overflow-x: hidden;
        list-style: none;
        padding: 0;

        .luxbar-item {
            min-width: 100%;
            height: $luxbar-height / 2;
            padding: 5px 10px 5px 40px;

            a {
                min-height: $luxbar-height / 2;
                line-height: $luxbar-height / 2;
                padding: 0;
            }
        }
    }
}

//non-mobile
@media screen and (min-width: 768px) {
    .luxbar-navigation {
        flex-flow: row;
        justify-content: flex-end;
    }

    .luxbar-hamburger {
        display: none;
    }

    .luxbar-checkbox {
        &:not(:checked) ~.luxbar-menu {
            overflow: visible;
        }
        
        &:checked ~.luxbar-menu {
          height: $luxbar-height;
        }
    }

    .luxbar-menu {
        .luxbar-item {
            border-top: 0;
        }

    }

    .luxbar-menu-right .luxbar-header {
        margin-right: auto;
    } 

    .dropdown {
        height: $luxbar-height;

        &:hover > ul {
            position: absolute;
            left: 0;
            top: $luxbar-height;
            padding: 0;
        }

        & > ul {
            display: none;

            .luxbar-item {
                padding: 5px 10px;

                a {
                    white-space: nowrap;
                }
            }
        }
    }
}

//hamburger animation
.luxbar-checkbox {
    &:checked {
        + .luxbar-menu {
            .luxbar-hamburger-spin {
                span {
                    &::before {
                        transform: rotate(45deg);
                    }

                    &::after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

//light theme

$light-bg: transparent;
$light-hl: transparent;
$light-fg: #fff;

%bg-and-fg-light {
    background-color: $light-bg;
    color: $light-fg;
}

.luxbar-menu-light {
    @extend %bg-and-fg-light;

    .dropdown {
        ul {
            @extend %bg-and-fg-light;
        }
    }

    .active {
        background-color: $light-hl;
        font-weight: 900;
    }

    .luxbar-item {
        &:not(.active){
            color: rgba(#fff,.65);
        }
        &:hover {
            background-color: $light-hl;
        }
    }

    .luxbar-hamburger {
        span {
            background-color: $light-fg;

            &::before,
            &::after {
                background-color: $light-fg;
            }
        }
    }
}