$font-family-avenir: 'Avenir LT Std';

$nav-breakpoint: 768px;
$nav-breakpoint-max: 768px - 1px;
//$btn-border-radius-lg: 2px;

//$border-width:                1px !default;
//$border-color:                $gray-300 !default;

$border-radius:               3px;
$border-radius-lg:            3px;
//$border-radius-sm:            .2rem !default;